<%- include('./layouts/app') -%> 
    <div class="row container">
        <div class="col-12 text-center">
            <h1><%=title%></h1>
            <hr>
        </div>
        <div class="col-3 desktop bg-primary">
            <h5 class="text-center"> Navbar </h5>
            <ul class="list-group">
                <li class="list-group-item">
                    Hello World
                </li>
                <li class="list-group-item">
                    Hello World
                </li>
                <li class="list-group-item">
                    Hello World
                </li>
            </ul>
        </div>
    </div>
<%- include('./layouts/footer.ejs')  -%> 


